$liliwhite : #EAEAEA;


.box-menus {
margin-bottom: 30px !important;
max-width: 500px;
text-transform: uppercase;
letter-spacing: 0.3em;
padding: 20px;
border: solid 1px;
border-color: $liliwhite;
width:100%;
margin-top: 0px auto;
& h6 {
  letter-spacing: 0.2em;
  text-transform: none;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 11px;
  font-style: italic;
}
& h4 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px;
  font-style: italic;
}
& p {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 13px;
  font-style: italic;
  color: #58584c;
}
& h5 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 12px;
  font-style: italic;
  color: #58584c;
}
& h1 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 23px;
}
& h3 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 18px;
  color: #9c7e43;
}
}

.box-decouverte {
margin-bottom: 30px !important;
margin: auto 0;
max-width: 500px;
text-transform: uppercase;
letter-spacing: 0.3em;
padding: 20px;
border: solid 1px;
border-color: $liliwhite;
width:100%;
& h6 {
  letter-spacing: 0.2em;
  text-transform: none;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 11px;
  font-style: italic;
}
& h4 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px;
  font-style: italic;
}
& p {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 13px;
  font-style: italic;
  color: #58584c;
}
& h5 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 12px;
  font-style: italic;
  color: #58584c;
}
& h1 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 23px;
}
& h3 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 18px;
  color: #9c7e43;
}
}

.box-event {
border: solid 1px;
border-color: $liliwhite;
margin: 0px auto;
background-size: cover;
max-width: 500px;
text-transform: uppercase;
letter-spacing: 0.3em;
padding: 20px;
width:100%;
& h4 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px;
  font-style: italic;
  color: #344a4e;
}
& p {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 13px;
  font-style: italic;
  color: #344a4e;
}
& h5 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px;
  font-style: italic;
  color: #bb5f77;
}
& h1 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 23px;
  color: #5f4953;
}
& h3 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 18px;
  color: #5f4953;
}
}

.plats {
  text-align: center;
}
.ici {
  transition: 0.5s;
  color: #000 !important;
  font-size: 14px !important;
}
.ici:hover {
  transition: 0.5s;
  color: #FFAC00 !important;
  text-decoration: none;
}
