.wrapper-restaurant {
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image-opacity: 0.41;
  font-family: 'Source Sans Pro', sans-serif !important;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3em;
  font-size: 15px;
  & i {
    font-size: 30px;
  }
}
