<footer id="main-footer">

  <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2018 - Le Restaurant du Pont / Made with <i class="fa fa-heart" aria-hidden="true"></i> by <%= mail_to "desfosse.constant@gmail.com", 'Constant D.' %><br></p>

  <nav>
    <a href="https://www.facebook.com/pontbassegoulaine" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/MATCORBINEAU/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.tripadvisor.fr/Restaurant_Review-g1939767-d3832697-Reviews-Restaurant_du_Pont-Basse_Goulaine_Loire_Atlantique_Pays_de_la_Loire.html" target="_blank"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
  </nav>

</footer>

