<div class="frame_contact" style="background-image: url(<%= image_path 'home1.jpg' %>)";>
  <div class="opa" style ="z-index: 1;">
    <%= image_tag 'opa.png' %>
  </div>

  <div class="contact_responsive" style ="z-index: 2;">
  </div>

  <div class="content-contact" style ="z-index: 3;">
  <span style="float: left; text-align: left;">
    <h1>CONTACT</h1>
    <h4>IDA / Intérieur, Design & Architecture</h4>
    <p>19 route de la Ville Mouée<br>
    44500 La Baule<br>
    Pays de la Loire<br>
    France<br>
    e-Mail : <%= mail_to "idaguyot@gmail.com", 'idaguyot@gmail.com' %><br>
    Tél : +(33) 07 69 98 38 38
    </p>
  </span>
  </div>
</div>
