<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="icon_scroll">

     <i class="fa fa-caret-down" id="icon_scroll" aria-hidden="true"></i>
  </div>
</div>
