<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "n1-2019.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">Au-delà d'une cuisine traditionnelle, nous souhaitons mettre en valeur les produits de notre région, tout en éveillant votre curiosité, à travers une cuisine créative et florale.<br><br>
Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave.<br><br>
Afin de sublimer les saveurs de chaque plat, nous vous proposons des accords « mets et vins », subtilement choisis.<br><br>Laissez vous surprendre....</p>
<p style="letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; padding:25px;font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px; text-transform:font-weight: bold;padding-top: 0px; color: #DC3228;">
Nos menus changent au gré du marché et des saisons, les plats ci-dessous ne sont donnés qu'à titre d'exemple.</p>

<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.3px;margin-bottom: 30px; margin: 0px auto;">
  <h1>Menu retour du marché</h1>
  <h4>servi le midi du mardi au vendredi (hors jours fériés)</h4>
        <h4>Entrée / Plat / Dessert  22€<h4>
        <h4>Entrée / Plat  20€</h4>
        <h4>Plat / Dessert  18€</h4>
        <h6>(prix TTC service inclus)</h6>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le gaspacho de petits pois à la menthe…</h3>
          <p>Burrata parfumée à l’huile de truffe, bruschetta au jambon de Vendée</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>La fraicheur de thon…</h3>
          <p>Avocat et framboise jaune, espuma parmesan</p>

          <h3 style="color:#000;">***</h3>

          <h3>La dorade sébaste…</h3>
          <p>Petit épeautre à l’ail et au thym, sabayon nantais</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>Le filet mignon de porc breton…</h3>
          <p>Viennoise de thé noir et nectarine, mousseline céleri, pesto de sauge</p>

          <h3 style="color:#000;">***</h3>

          <h3>Comme une tarte amandine…</h3>
          <p>Griotte, verveine, algue dulse</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>Les fraises de Haute-Goulaine…</h3>
          <p>Marinées au poivre de Kampot, truffé chocolat blanc, sablé yuzu</p>

          <h5 style="margin-top: 30px">*Plateau de fromages affinés en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.31px;margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu du Pont</h1>
        <h4>Servi midi et soir du mardi au dimanche</h4>
        <h4>Entrée / Plat / Dessert  38€<h4>
        <h4>Entrée / Plat  35€</h4>
        <h4>Plat / Dessert  32€</h4>
        <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >

          <h3>Le marbré de foie gras…</h3>
          <p>Abricot, spéculos, comme un cheesecake</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>Le homard de nos côtes…</h3>
          <p>Salicornes, sabayon au poivre fumé, chips d’herbes</p>

          <h3 style="color:#000;">***</h3>

          <h3>Le dos de bar sauvage…</h3>
          <p>Risotto aux épices vadouvan, émulsion d’un jus de couteaux, tartare iodé</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>La pintade d’Ancenis…</h3>
          <p>Marinée à l’huile de noisette, polenta de petits pois, jus lard fumé / combawa</p>

          <h3 style="color:#000;">***</h3>

          <h3>La pavlova carotte / cardamome…</h3>
          <p>Mousse légère carotte, rocher cardamome, glace noisette</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>La pêche de vigne…</h3>
          <p>Infusée au basilic thaï, macaron citron vert, ganache coco</p>

          <h5 style="margin-top: 30px">*Plateau de fromages affinés en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu Escapade</h1>
        <h4>en 4 temps... 50€</h4>
        <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >

          <h3>L’agneau de sept heures…</h3>
          <p>En cromesquis, foie gras, émulsion de Sainte-Maure</p>

          <h3>Le dos de sandre ikéjimé…</h3>
          <p>Courge vanillée, beurre au thé matcha</p>

          <h3>Le magret de canard…</h3>
          <p>Lustré à la confiture de rose, artichaut,  chili doux</p>

          <h3>L’ananas et le cerfeuil…</h3>
          <p>Ananas rôti, rocher coco, gelée cerfeuil</p>

          <h5 style="margin-top: 30px">*Plateau de fromages affinés en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="box-decouverte" style="margin-bottom: 30px; margin: 0px auto;">
      <h1>Menu Découverte</h1>
      <h4>Servi le soir du mardi au dimanche</h4>
      <h4>En 6 temps... 65€</h4>
      <h6>(prix TTC service inclus)</h6>
      <div class="plats" style="margin-top: 40px;" >
        <p>Laissez-vous guider par l'inspiration de la cuisine !<br><br></p>
           <h6>(menu servi pour l’ensemble de la table)</h6>
      </div>
    </div>
  </div>

  </div>
</div>
</div>
