<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "menus.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">Au-delà d'une cuisine traditionnelle, nous avons souhaité mettre en valeur les produits de notre région, tout en éveillant votre curiosité, à travers une cuisine créative et florale.<br><br>
Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave.<br><br>
Afin de sublimer les saveurs de chaque plat, nous vous proposons des accords « mets et vins », subtilement choisis.<br><br>Laissez vous surprendre....</p>
<p style="letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; padding:25px;font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px; text-transform:font-weight: bold;padding-top: 0px; color: #DC3228;">
Nos menus changent au gré du marché et des saisons, les plats ci-dessous ne sont donnés qu'à titre d'exemple.</p>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'stval2020.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>Saint-Valentin 2020
</h1>
      <h4>57€<br>En accord Mets et Vins 2 verres 70€<br>3 verres 75€
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le cocktail romantique…</h3>
        <p>Et ses amuse-bouches</p>
        <h3>Les Saint-Jacques de nos côtes…</h3>
        <p>Viennoise d’herbes, orange sanguine, haddock fumé, sabayon d’ail noir</p>
        <h5>ou</h5>
        <h3>Le marbré de foie gras de canard…</h3>
        <p>Fumé, butternut, sauge, dattes</p>
        <h3>Le bœuf d’Anjou…</h3>
        <p>Lustré à l’hibiscus, mousseline de céleri à la truffe, cranberrie</p>
        <h5>ou</h5>
        <h3>La lotte…</h3>
        <p>Cuisson basse température, viennoise papaye/thé noir, carotte fane, émulsion fève de tonka</p>
        <h3>La fraicheur sudachi / rose…</h3>
        <h3>La mangue…</h3>
        <p>Infusée au sirop de merisier, ganache lactée, glace cèpes</p>
        <h5>ou</h5>
        <h3>Le chocolat Dulcey…</h3>
        <p>En velouté, fruit de la passion, noix de macadamia</p>
        <h5>ou</h5>
        <h3>Le dessert à partager…</h3>
        <p>Autour de la banane, de la noix de coco et du laurier (supplément 4€)</p>
      </div>
    </div>
  </div>

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.3px;margin-bottom: 30px; margin: 0px auto;">
  <h1>Menu retour du marché</h1>
  <h4>(servi du mardi au vendredi midi sauf jours fériés)</h4>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>16€<h4>
          Entrée / Plat / Dessert<h4>20€</h4>
          <h6>(prix TTC service inclus)</h6>

        <div class="plats" style="margin-top: 40px;" >
          <h3>L’espadon…</h3>
          <p>Snacké aux épices cajun, aubergine confite, émulsion coquillages</p>
          <h3>Le mignon de porc…</h3>
          <p>Viennoise persillée, écrasé de pommes de terre à l’huile de truffe, jus au thym</p>
          <h3 style="color:#000;">Ou</h3>
          <h3>Le dos de cabillaud…</h3>
          <p>Pané à l’arabica, patate douce, beurre coraillé</p>
          <h3>Les fruits rouges…</h3>
          <p style="margin-bottom: 30px;">Parfait glacé framboises, truffé chocolat blanc, avocat</p>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.31px;margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu du Pont</h1>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>de 29€ à 32€<h4>
          Entrée / Plat / Dessert<h4>de 35€ à 38€</h4>
          <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >
          <h3>Le tourteau de nos côtes…</h3>
          <p>Emietté, siphon pommes de terre noisette, fleur de thym, crème d’ail</p>
          <h3>Le filet de canette…</h3>
          <p>Fumée au foin, artichaut poivrade, mûres et fenouil</p>
          <h3>Fromage*</h3>
          <h3>L’abricot et la verveine…</h3>
          <p>Chibouste abricot, émulsion verveine, brioche perdue à la noix de muscade</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu Escapade</h1>
        <h4>50€</h4>
        <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >
          <h3>La langoustine…</h3>
          <p>Rôtie, extrait de maïs, andouille de Guéméné</p>
          <h3>La barbue…</h3>
          <p>Braisée au romarin, tartare de granny smith et chioggia, aïoli en sabayon</p>
          <h3>Le bœuf…</h3>
          <p>Mariné au soja, houmous de Paimpol, jus iodé</p>
          <h3>Fromage*</h3>
          <h3>La prune et le café…</h3>
          <p>Prune caramélisée, parfait glacé café, sablé breton aux cèpes</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="box-decouverte" style="margin-bottom: 30px; margin: 0px auto;">
      <h1>Menu Découverte</h1>
      <h4>65€</h4>
      <h6>(prix TTC service inclus)</h6>
      <div class="plats" style="margin-top: 40px;" >
        <p>Laissez-vous guider par l'inspiration de la cuisine !<br><br></p>
           <p>Menu décliné en 6 temps avec en bouquet final, une démonstration culinaire…</p>
           <h6>(menu servi pour l’ensemble de la table)</h6>
      </div>
    </div>
  </div>

  </div>





</div>
</div>
