<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "menus.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">Au-delà d'une cuisine traditionnelle, nous avons souhaité mettre en valeur les produits de notre région, tout en éveillant votre curiosité, à travers une cuisine créative et florale.<br><br>
Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave.<br><br>
Afin de sublimer les saveurs de chaque plat, nous vous proposons des accords « mets et vins », subtilement choisis.<br><br>Laissez vous surprendre....</p>
<p style="letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; padding:25px;font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px; text-transform:font-weight: bold;padding-top: 0px; color: #DC3228;">
Nos menus changent au gré du marché et des saisons, les plats ci-dessous ne sont donnés qu'à titre d'exemple.</p>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Valentine.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>Menu Saint Valentin</h1>
      <h4>57 €</h4>
      <h4>En accord Mets et Vins<br>
2 verres 70€ / 3 verres 75€</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Cocktail romantique</h3>
        <p>Amuse-bouche</p>
        <h3>Marbré de foie gras</h3>
        <p>Châtaigne / fenouil / gingembre</p>
        <h5>ou</h5>
        <h3>Noix de Saint Jacques</h3>
        <p>Viennoise de yuzu / carotte fane / encre de seiche</p>
        <h3>Bœuf fondant</h3>
        <p>Marinade soja / violette / salsifis vanillés</p>
        <h5>ou</h5>
        <h3>Dos de bar</h3>
        <p>Cuisson basse température / panais / pistache / beurre au « Quarts de Chaume »</p>
        <h3>Fraicheur kiwi / poivron</h3>
        <h3>Brioche / Rose</h3>
        <p>Pommes confites /crème légère rose / parfait glacé champagne</p>
        <h5>ou</h5>
        <h3>Dulcey / Fruits de la passion</h3>
        <p>Crémeux chocolat blond / sablé breton combawa / tartare exotique</p>
      </div>
    </div>
  </div>

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.3px;margin-bottom: 30px; margin: 0px auto;">
  <h1>Menu retour du marché</h1>
  <h4>(servi les midis du mardi au vendredi)</h4>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>16€<h4>
          Entrée / Plat / Dessert<h4>20€</h4>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Fondant de saumon</h3>
          <p>Dubarry, blé noir, agrumes</p>
          <h3>Suprême de poulet</h3>
          <p>Persil racine, jus sauge</p>
          <h3 style="color:#000;">Ou</h3>
          <h3>Dos de lieu jaune</h3>
          <p>Etuvée de chou, lard fumé</p>
          <h3>Millefeuille de tuiles</h3>
          <p style="margin-bottom: 30px;">Mangue, praliné, avocat</p>
          <h5>*Plateau de fromages affinés Maison Beillevaire en supplément 6€</h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.31px;margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu du Pont</h1>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>de 29€ à 32€<h4>
          Entrée / Plat / Dessert<h4>de 35€ à 38€</h4>
        <div class="plats" style="margin-top: 40px;" >
          <h3>Sandre confit à l’huile de pépins de raisin</h3>
          <p>Panais, pistache, mousseux fumé</p>
          <h3>Suprême de pintade aromatisé à la truffe</h3>
          <p>Cuisson basse température, céleri, girolles, jus sarriette</p>
          <h3>Fromage*</h3>
          <h3>Ganache chocolat caramel</h3>
          <p>Ananas, mousseux laurier</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés Maison Beillevaire en supplément 6€</h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu Escapade</h1>
        <h4>50€</h4>
        <div class="plats" style="margin-top: 40px;" >
          <h3>Saint-Jacques</h3>
          <p>Jus lard fumé, encre de seiche</p>
          <h3>Mi-cuit de thon</h3>
          <p>Patate douce, émulsion parmesan, œufs de saumon</p>
          <h3>Bœuf</h3>
          <p>Mariné soja, céleri, cumbawa, chocolat</p>
          <h3>Fromage*</h3>
          <h3>Mandarine </h3>
          <p>Moelleux givré, citron, noisette, foin</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés Maison Beillevaire en supplément 6€</h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="box-decouverte" style="margin-bottom: 30px; margin: 0px auto;">
      <h1>Menu Découverte</h1>
      <h4>65€</h4>
      <div class="plats" style="margin-top: 40px;" >
        <p>Laissez-vous guider le temps d'un repas par l'inspiration de la cuisine.<br><br>
           Menu en 6 temps...</p>
      </div>
    </div>
  </div>

  </div>





</div>
</div>
