<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "SaintVal.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">MENU DE LA SAINT-VALENTIN (COMMANDES COMPLèTES)</p>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
  RETRAIT AU RESTAURANT ET LIVRAISON du vendredi au dimanche (sous réserve de nouvelles mesures gouvernementales)<br><br>

<!-- COMMANDE<br><br>
Par téléphone au 02.40.03.58.62<br><br>
<a href="mailto:contact@restaurant-du-pont.fr">Par e-Mail</a><br><br>

Via <a href="https://forms.gle/VqPnwo8dtKsFg7VXA">ce formulaire</a><br><br> -->


  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LE MENU ENTRÉE / PLAT / DESSERT 38€ / personne</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Sur une fine tartelette de blé noir…</h3>
          <p>Mi cuit de thon, mangue et pois gourmands lustrés au sésame wasabi, espuma iodé</p>
          <h4>ou</h4>
          <h3>Le pressé de foie gras de canard…</h3>
          <p> Poire, roquette et salsifis, brioche aux 4 épices</p><br>
          <h3>Le cabillaud skrei comme un tajine…</h3>
          <p>Frotté au citron confit, rutabaga et céleri branche glacés au safran, olives noires</p>
          <h4>ou</h4>
          <h3>Le bœuf d’Anjou…</h3>
          <p>Mariné à l’hibiscus, gratin de patate douce parfumé au gingembre, sauce au vin jaune</p><br>
          <h3>Un amour de charlotte…</h3>
          <p>Biscuit rose, mousse fruits exotiques et thé noir</p>
          <h4>ou</h4>
          <h3>Le chou craquelin</h3>
          <p>Praliné, crème diplomate à la fève de tonka, fruits rouges</p>
          <h4>ou</h4>
          <h3>La fondue au chocolat Dulcey en kit (2 personnes à partager) …</h3>
          <p>Fruits frais, guimauve et madeleine</p>
          <h5>Menu végétarien sur demande</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>


       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES FORMULES APÉRITIVES POUR 2 PERSONNES…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>La Box Apéro… 6 pièces salées 16€ (2 pers)</h3>
          <p>2 crémeux de patate douce au poivre fumé tartare d'algues à la noisette</p>
          <p>2 Cromesquis de canard au foie gras</p>
          <p>2 Carpaccio de saint jacques, rose et combawa</p>
          <h3>La Box Dinatoire… 18 pièces (12 salées / 2 fromage / 4 sucrées)  + Vin *     75€ (2 pers)</h3>
          <p>2 Mini-burger crabe, mandarine, gingembre</p>
          <p>2 Cromesquis de canard au foie gras et pommes confites </p>
          <p>2 Arancini volaille d’Ancenis parfumé à la truffe </p>
          <p>2 Carpaccio de Saint-Jacques, rose et combawa </p>
          <p>2 Gravlax de cabillaud, miel et aneth </p>
          <p>2 Crémeux de patate douce au poivre fumé tartare d'algues à la noisette </p>
          <p>2 Verrines chèvre fouetté, papaye, thé noir </p>
          <p>2 Tiramisu framboise / rose </p>
          <p>2 Cœurs caramel au beurre salé et noix de pécan</p><br>
          <H3>* 1 bouteille  (75cl) au choix:</H3>
          <p>CHAMPAGNE "Bulle Féminine" Extra Brut, Emmanuelle HERBLIN</p>
          <p>MUSCADET "Gorges", Domaine MENARD GABORIT, 2016</p>
          <p>SAINT-EMILION "R de Château Roylland", M. et J-B. CHAMBARD, 2016</p>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENFANTS… Le menu  15€  (jusqu’à 12 ans)</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Les rillettes de canard</h3>
          <h3>Les nuggets de poisson et ses frites scoubidou</h3>
          <h3>Les pingouins en marshmallow</h3>
        </div>
      </div>
    </div>
<!--     <p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
      <a href="https://forms.gle/VqPnwo8dtKsFg7VXA">COMMANDEZ ICI</a><br><br> -->


               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES SUGGESTIONS DU SOMMELIER…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Demi bouteille 37,5cl :</h3>
          <p>CHAMPAGNE "Amour de Deutz "  2009 (rosé)  28€</p>
          <p>SANCERRE, Domaine REVERDY DUCROUX, 2018 (blanc)  13€</p>
          <p>MADIRAN, Château LAFFITE TESTON, 2016 (rouge)  11€</p>
          <h3>Bouteille 75cl :</h3>
          <p>CHAMPAGNE DEUTZ Brut "Classic"   50€</p>
          <p>QUINCY, Domaine PIERRE DURET, 2018 (blanc)   18€</p>
          <p>CHATEAUNEUF DU PAPE « les Sinards", Famille PERRIN, 2017 (blanc)   34€</p>
          <p>CÔTEAUX D’ANCENIS "Ethérie, Domaine LANDRON CHARTIER, 2016 (rouge)  32€</p>
          <p>VAQQUEYRAS "Genius", Maison ARNOUX & FILS, 2017 (rouge)  18€</p>
          <p>Jus de Fruit A. MILLIAT (33cl): pomme cox's, raisin Merlot, mangue, mandarine  5€</p>

        </div>
      </div>
    </div>

  </div>













<!--   <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">Au-delà d'une cuisine traditionnelle, nous avons souhaité mettre en valeur les produits de notre région, tout en éveillant votre curiosité, à travers une cuisine créative et florale.<br><br>
Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave.<br><br>
Afin de sublimer les saveurs de chaque plat, nous vous proposons des accords « mets et vins », subtilement choisis.<br><br>Laissez vous surprendre....</p>
<p style="letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; padding:25px;font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px; text-transform:font-weight: bold;padding-top: 0px; color: #DC3228;">
Nos menus changent au gré du marché et des saisons, les plats ci-dessous ne sont donnés qu'à titre d'exemple.</p> -->

<!--
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

<!--   <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.3px;margin-bottom: 30px; margin: 0px auto;">
  <h1>Menu retour du marché</h1>
  <h4>(servi du mardi au vendredi midi sauf jours fériés)</h4>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>16€<h4>
          Entrée / Plat / Dessert<h4>20€</h4>
          <h6>(prix TTC service inclus)</h6>

        <div class="plats" style="margin-top: 40px;" >
          <h3>L’espadon…</h3>
          <p>Snacké aux épices cajun, aubergine confite, émulsion coquillages</p>
          <h3>Le mignon de porc…</h3>
          <p>Viennoise persillée, écrasé de pommes de terre à l’huile de truffe, jus au thym</p>
          <h3 style="color:#000;">Ou</h3>
          <h3>Le dos de cabillaud…</h3>
          <p>Pané à l’arabica, patate douce, beurre coraillé</p>
          <h3>Les fruits rouges…</h3>
          <p style="margin-bottom: 30px;">Parfait glacé framboises, truffé chocolat blanc, avocat</p>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div> -->
    </div>

<!--     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="min-height: 601.31px;margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu du Pont</h1>
        <h4>Entrée / Plat   ou    Plat / Dessert<h4>de 29€ à 32€<h4>
          Entrée / Plat / Dessert<h4>de 35€ à 38€</h4>
          <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >
          <h3>Le tourteau de nos côtes…</h3>
          <p>Emietté, siphon pommes de terre noisette, fleur de thym, crème d’ail</p>
          <h3>Le filet de canette…</h3>
          <p>Fumée au foin, artichaut poivrade, mûres et fenouil</p>
          <h3>Fromage*</h3>
          <h3>L’abricot et la verveine…</h3>
          <p>Chibouste abricot, émulsion verveine, brioche perdue à la noix de muscade</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div> -->

<!--     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
        <h1>Menu Escapade</h1>
        <h4>50€</h4>
        <h6>(prix TTC service inclus)</h6>
        <div class="plats" style="margin-top: 40px;" >
          <h3>La langoustine…</h3>
          <p>Rôtie, extrait de maïs, andouille de Guéméné</p>
          <h3>La barbue…</h3>
          <p>Braisée au romarin, tartare de granny smith et chioggia, aïoli en sabayon</p>
          <h3>Le bœuf…</h3>
          <p>Mariné au soja, houmous de Paimpol, jus iodé</p>
          <h3>Fromage*</h3>
          <h3>La prune et le café…</h3>
          <p>Prune caramélisée, parfait glacé café, sablé breton aux cèpes</p>
          <h3 style="margin-bottom: 30px;">Mignardises</h3>
          <h5>*Plateau de fromages affinés (Maison Beillevaire) en supplément 6€</h5>
          <h6>Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div> -->

<!--     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="box-decouverte" style="margin-bottom: 30px; margin: 0px auto;">
      <h1>Menu Découverte</h1>
      <h4>65€</h4>
      <h6>(prix TTC service inclus)</h6>
      <div class="plats" style="margin-top: 40px;" >
        <p>Laissez-vous guider par l'inspiration de la cuisine !<br><br></p>
           <p>Menu décliné en 6 temps avec en bouquet final, une démonstration culinaire…</p>
           <h6>(menu servi pour l’ensemble de la table)</h6>
      </div>
    </div>
  </div> -->

  </div>





</div>
</div>
