<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "n1-2019.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div> -->
<!-- Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités) -->


<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

         <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">Reprise de nos ventes à emporter le vendredi 23 Avril 2021. <br> Notre nouvelle carte sera en ligne le lundi 19 avril 2021.
<!--  <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">CONDITIONS :</p><br>

 <p>Commandes 48h à l'avance minimum (quantités limitées). Au-delà, nous contacter par téléphone.</p>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
    RETRAIT AU RESTAURANT :<br><br>
    Vendredi 26 de 16h à 19h<br>
  Samedi 27 de 11h30 à 12h30 et de 17h à 19h<br>
  Dimanche 28 de 10h30 à 13h<br><br>
  LIVRAISON* :<br><br>
  Vendredi 26 & Samedi 27 à partir de 18H30<br>
  Dimanche 28 de 10h30 à 12h30<br><br>
  * Livraison gratuite sur Basse-Goulaine, Haute-Goulaine, Vertou,
Saint-Sébastien/Loire, Rezé,
(Pour les autres communes, nous consulter).
Minimum de commande 40€.<br><br> -->

<!-- COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://forms.gle/LsUUJm46TX1Bx56s5">ce formulaire</a><br><br> -->

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le velouté de champignons 5€</h3>
          <p>poulet rôti, parmesan</p>
          <h3>le buisson de langoustines  7€</h3>
          <p>beurre d'algues, mayonnaise à l'aneth</p>
          <h3>le croustillant de gambas 9€</h3>
          <p>citronnelle, noix de coco</p>
          <h3>le mini-burger de foie gras  12€</h3>
          <p>sucrine, compotée d'oignons et grenade</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le confit de porc 10€</h3>
          <p>travaillé comme une blanquette printanière</p>
          <h3>le gratin de saumon 12€</h3>
          <p>poireaux nantais, sauce safran</p>
          <h3>le dos de cabillaud 13€</h3>
          <p>en croute de fruits de la passion / risotto d'asperges, coulis d'ail des ours</p>
          <h3>le boeuf fondant 17€</h3>
          <p>gratin d'aubergines à la ricotta et au basilic, beurre ail et romarin</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>la tartelette de mimolette 5€</h3>
          <p>butternut, ail et fines herbes</p>
          <h3>le crumble pommes  6€</h3>
          <p>banane vanillée, fenouil</p>
          <h3>la verrine mangue 6 €</h3>
          <p>truffé chocolat blanc, parfum de violette</p>
          <h3>la brioche perdue 6 €</h3>
          <p>ananas rôti au poivre de kampot, caramel au beurre salé</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>la sucette de jambon, fromage frais</h3>
          <h3>le parmentier de confit de canard</h3>
          <h3>le délice fruits rouges, chantilly Tagada</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le nougat de chèvre frais (180g) 6.50€</h3>
          <h3>les rillettes de lieu noir au beurre blanc (180g) 6.50€</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Soft, Blanc, Rosé et Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Jus Alain Milliat  (33cl)  5€</h3>
          <p>Pomme Cox’s / Pamplemousse / Raisin rouge Merlot</p><br>
          <h3>Muscadet "Fleur de Gabbro", Damien Rineau 2015 12€</h3>
          <h3>Beaujolais, Domaine Trenel 2018  14€</h3><br>
          <h3>Côtes-de-provence "M de Minuty",  2018  16€</h3><br>
          <h3>Graves "Les Hautes Gravières", Maison Dourthe 2017  16€</h3>
          <h3>Côteaux d'Ancenis "Etherie", Domaine Landron Chartier 2016  29€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
