<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "bannervae.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div> -->
<!-- Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités) -->


<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

        <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">CONDITIONS DE COMMANDE : </p>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
    Vente à emporter DU VENDREDI AU DIMANCHE: commandes 48 H A L'AVANCE (quantités limitées)<br><br>
    Reprise des livraisons à partir du  VENDREDI 29 JANVIER<br><br>
    RETRAIT DES COMMANDES :<br><br>
    Vendredi  22/01 de 16h à 17h30<br>
  Samedi 23/01 de 11h30 à 13h et de 16h à 17h30<br>
  Dimanche 24/01 de 10h30 à 13h<br><br>

<!-- COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://docs.google.com/forms/d/e/1FAIpQLSeakT_OEn9R3qQaj69zwhB-qu-OlsBwLuOE5WfMtE8TTTiynQ/viewform">ce formulaire</a><br><br> -->

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>1. LE MINI-BURGER DE VOLAILLE 5€</h3>
          <p>CURRY, ROQUETTE</p>
          <h3>2. LE CHEESECAKE  7€</h3>
          <p>SAUMON MARINÉ, FENOUIL, BETTERAVE, GINGEMBRE</p>
          <h3>3. LE BUISSON DE LANGOUSTINES 7€</h3>
          <p>BEURRE D'ALGUES, MAYONNAISE CITRON & HERBES (200G)</p>
          <h3>4. LE VELOUTÉ DE PANAIS AU POIVRE VERT 9€</h3>
          <p>PÉPITES DE FOIE GRAS, ORANGE SANGUINE</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>5. LE MERLU RÔTI AU JAMBON DE VENDÉE  10€</h3>
          <p>COMBAWA, ETUVÉE DE CHOU ET LAITUE DE MER</p>
          <h3>6. LA VOLAILLE 12€</h3>
          <p>CUISSON BASSE TEMPÉRATURE, RISOTTO RIZ VÉNÉRÉ, CRÉMEUX DE MORILLES</p>
          <h3>7. LES MÉDAILLONS DE LOTTE 13€</h3>
          <p>JUS BOURGUIGNON, LENTILLES PARFUMÉES À L'HUILE DE TRUFFE</p>
          <h3>8. LE BOEUF FONDANT 17€</h3>
          <p>CRUMBLE DE LÉGUMES D'ANTAN AU PAIN D'ÉPICES, ÉMULSION FOURME D'AMBERT</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>9. LE CHÈVRE FOUETTÉ 5€</h3>
          <p>MANDARINE, PIMENT D'ESPELETTE</p>
          <h3>10. LE TRUFFÉ CHOCOLAT BLANC 6€</h3>
          <p>MANGUE, BISCUIT SAFRAN</p>
          <h3>11. LE KIT PAVLOVA 6 €</h3>
          <p>FRUITS ROUGES, VERVEINE, LAVANDE</p>
          <h3>12. LA TARTE CHOCOLAT MANJARI 6 €</h3>
          <p>NOIX DE PÉCAN, THÉ NOIR</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>LE VELOUTÉ PANAIS & KIRI</h3>
          <h3>LA GRATINÉE DE FARFALLINES</h3>
          <p>FAÇON CARBONARA</p>
          <h3>LA MOUSSE CHOCOLAT BLANC</h3>
          <p>ET SON COOKIE AUX SMARTIES</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>LE NOUGAT DE CHÈVRE FRAIS (180G) 6.50€</h3>
          <h3>LES RILLETTES DE CANARD(200G) 6.50€</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Blanc et Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>MUSCADET CHÂTEAU DE LA CHESNAIE 2016, DOMAINE CHÉREAU CARRÉ. 12€</h3>
          <h3>MUSCAT SEC « L’ORIGINAL » 2018, VIGNOBLE MALIDAIN 16€</h3>
          <h3>SAINT VÉRAN 2017, JEAN MARC LAFONT 22€</h3><br>
          <h3>CÔTE DU RHÔNE « SAINT ESPRIT » 2018, MAISON DELAS 12€</h3>
          <h3>GRAVES « LES HAUTES GRAVIÈRES », 2017, MAISON DOURTHE 16€</h3>
          <h3>SAINT NICOLAS DE BOURGUEIL « LES AISSELIERES », 2019, DOMAINE COULY-DUTHEIL 16€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
