<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "vae.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;color: #FFAA00">Vous y avez pris goût? Nous aussi!<br>Découvrez ici chaque week-end nos ventes à emporter <br><br>
 <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px;">Modalités :</p>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
   EN VENTE À EMPORTER du vendredi soir au dimanche midi (commande 24h à l’avance quantités limitées) <br><br><br>
  RETRAIT AU RESTAURANT : <br><br>
  Le Vendredi de 17h à 19h<br>
  Le Samedi de 11h à 12h et de 18h à 19h<br>
  Le Dimanche de 11h à 12h <br><br><br>

COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>

 <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 18px;">NOS SUGGESTIONS A EMPORTER DU 21 AU 23 MAI 2021</p>

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>MENU</h1>
<h4>Entrée / Plat /Dessert  28.50€</h4>
<h4>Entrée / Plat ou Plat / Dessert 23€</h4>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le ceviche de dorade…</h3>
          <p>Framboise, coriandre, combawa</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>Le millefeuille de chèvre frais…</h3>
          <p>Sarrasin, asperges des bois, viande des grisons</p>

          <h3 style="color:#000;">***</h3>

          <h3>Les médaillons de lotte...</h3>
          <p>Flambées au whisky, risotto de lentilles corail, crème sarriette</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>La volaille d’Ancenis…</h3>
          <p>Farcie au chorizo, tian de tomates d’antan à la ricotta</p>

          <h3 style="color:#000;">***</h3>

          <h3>Le tiramisu…</h3>
          <p>Fruits exotiques, thé noir, noix de coco</p>

          <h3 style="color:#000;">Ou</h3>

          <h3>Les noisettes…</h3>
          <p>Tarte légère pralin, vanille de Madagascar, fève de tonka</p>

          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1> MENU  Enfant et Végétarien disponibles sur demande</h1>
        </div>
      </div>




  </div>





</div>
</div>
