<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "n1-2019.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div> -->
<!-- Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités) -->


<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

         <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">Menu du 30 Avril, 1er et 2 Mai (COMPLET)<br>
 <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">CONDITIONS :</p><br>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
    RETRAIT AU RESTAURANT :<br><br>
  Vendredi 30 avril de 17h à 19h<br>
  Samedi 1er mai de 11h à 12h30 et de 17h à 19h<br>
  Dimanche 2 mai de 10h30 à 12h30<br><br>
  LIVRAISON* :<br><br>
  Vendredi 30 avril à partir de 18h<br>
  Samedi 1er mai de 11h à 12h et à partir de 18h<br>
  Dimanche 2 mai de 10h30 à 12h<br><br>
  * Livraison gratuite sur Basse-Goulaine, Haute-Goulaine, Vertou,Saint-Sébastien/Loire, Rezé,
(Pour les autres communes, nous consulter).
Minimum de commande 40€.<br><br>

<!-- COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://forms.gle/dDEE2hh17ef4mw4r9">ce formulaire</a><br><br> -->

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le velouté asperge et fenouil  5€</h3>
          <p>Poivre de cassis, parmesan</p>
          <h3>le buisson de langoustines  7€</h3>
          <p>Beurre au sel fumé, mayonnaise agrumes</p>
          <h3>Le maquereau grillé, mariné comme une escabèche 9€</h3>
          <p>Tartelette de blé noir, coulis de poivron rouge</p>
          <h3>Le Marbré de Foie gras 12€</h3>
          <p>Rencontre entre le foie gras, la carotte fane, et la verveine..</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le confit de canard 10€</h3>
          <p>Comme un Parmentier, épinards, poivre exotique</p>
          <h3>La Poke Bowl du Pont 12€</h3>
          <p>Mi cuit de thon, avocat, pamplemousse, basilic thaï, vinaigrette sésame/citronnelle</p>
          <h3>La dorade sébaste 13€</h3>
          <p>Lustrée au vinaigre de framboise, jeunes fèves et poitrine fumée, coulis de salicorne</p>
          <h3>Les ris de veau 17€</h3>
          <p>Parfum de morilles, tête à tête d’asperges vertes et petits pois</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le camembert pané 5€</h3>
          <p>Confiture de cerise noire, mâche nantaise</p>
          <h3>Le crémet nantais 6€</h3>
          <p>Fraises de Haute-Goulaine, aromes de muguet</p>
          <h3>La tartelette déstructurée 6€</h3>
          <p>Rhubarbe / citron / Avocat</p>
          <h3>La symphonie chocolatée 6€</h3>
          <p>Crémeux chocolat lacté, croquant noisette, éclats d’amande</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Crudités en rouleau de Printemps</h3>
          <h3>Nuggets de volaille, frites scoubidou</h3>
          <h3>Verrine de fraises et Tagada</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le nougat de chèvre de la ferme du Hallay (180g-2/3 pers) 6,50€</h3>
          <h3>Les rillettes de cabillaud, curry, aneth (180g) 6,50€</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Blanc, Rosé et Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Folle Blanche Domaine Cherreau Carré  "Colère" 2018 8€</h3>
          <h3>Bordeaux Blanc Dourthe "Croix des Bouquets" 2018 15€</h3><br>
          <h3>Rosé de Provence Tour Saint Honoré "L'Après plage" 2019 10€</h3><br>
          <h3>Saint Nicolas de Bourgueil Couly Dutheil "Les Aisselières" 2019 16€</h3>
          <h3>Coteaux d'Ancenis Domaine Landron Chartier "Ethérie" 2015 32€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
