<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "menus.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<p style="padding:25px; font-family: 'Source Sans Pro', sans-serif !important; font-size: 17px;">Produits disponibles du 1er au 31 décembre 2020 sur commande uniquement (48 heures à l'avance)<br>



  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div>

  <p style="padding:25px; font-family: 'Source Sans Pro', sans-serif !important; font-size: 17px;">CONDITIONS DE COMMANDE : <br><br>
    Vente à emporter DU MERCREDI AU DIMANCHE midi et soir: pour le jour même, merci de commander avant 11h ou avant 18h.<br><br>
    Livraison possible DU MERCREDI AU DIMANCHE midi et soir (minimum de commande 25€): pour le jour même, commande avant 11h ou avant 15h (livraison gratuite sur les communes de BASSE-GOULAINE SAINT-SEBASTIEN / VERTOU / REZE / SAINTE-LUCE - Pour les autres communes, nous consulter)<br><br>
    Pour le week-end, les commandes sont acceptées jusqu'au vendredi 18h. Passé ce délai, merci de nous contacter uniquement par téléphone pour connaître les stocks disponibles.<br><br>

COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://forms.gle/qrsWk9hDD9LxDZB57">ce formulaire</a><br><br>
Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités)


<!--
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

<!--      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>nouveau MENU EN COURS DE réalisation</h1>
      </div>
    </div> -->

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>1. LE VELOUTÉ BUTTERNUT  4.50€</h3>
          <p>Noisette de beurre d’algues, chips de sarrasin (végétarien)</p>
          <h3>2. LE BURGER DE CRABE 4.50€</h3>
          <p>ORANGE, CHOU ROUGE, SAUCE BARBECUE</p>
          <h3>3. LE FARCI DE CANARD 7€</h3>
          <p>ÉPICES CAJUN, NOIX, CRÈME FOURME D'AMBERT</p>
          <h3>4. LE CROMESQUIS DE FRUITS SECS 7€</h3>
          <p>ABRICOT, CHÂTAIGNE FUMÉE, MOUTARDE À LA POMME ET AU CALVADOS (VÉGÉTARIEN)</p>
          <h3>5. LA CASSOLETTE DE COQUILLAGES 9€</h3>
          <p>TRAVAILLÉE COMME UNE BRANDADE, CRÈME AU THYM CITRONNÉ</p>
          <h3>6. LE MARBRÉ DE FOIE GRAS 9€</h3>
          <p>COMME UN OPÉRA, AGRUMES, CACAO</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>7. LE MIJOTÉ DE SOT L'Y LAISSE 9.50€</h3>
          <p>FAÇON TAJINE, PATATE DOUCE, PRUNEAU, CHILI DOUX</p>
          <h3>8. LA PÊCHE DU JOUR 9.50€</h3>
          <h3>9. LE CURRY VÉGÉTARIEN (VÉGÉTARIEN) 10€</h3>
          <p>BUTTERNUT VANILLÉ, RIZ BASMATI, NOIX DE CAJOU</p>
          <h3>10. LE PALERON DE BOEUF BRAISÉ 13€</h3>
          <p>ECRASÉ DE POMMES DE TERRE AUX OLIVES NOIRES, JUS SARRIETTE</p>
          <h3>11. LA TARTIFLETTE AU REBLOCHON 13€</h3>
          <p>OIGNONS PARFUMÉS AU MUSCADET, SAUCISSE FUMÉE, CRÈME CIBOULETTE</p>
          <h3>12. LE DOS DE BAR SAUVAGE 17€</h3>
          <p>LAQUÉ AU PESTO DE SAUGE, TATIN DE LÉGUMES D'ANTAN</p>
          <h3>13. LA PINTADE D'ANCENIS 17€</h3>
          <p>MARINÉE À L'HUILE DE NOISETTES, MOUSSELINE PANAIS & PAIN D'ÉPICES, ÉMULSION FOIE GRAS</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>14. L’ASSIETTE DE 3 FROMAGES AFFINÉS 5€</h3>
          <h3>15. LA TARTE AMANDINE 5€</h3>
          <p>COING, GRENADE ET LAURIER</p>
          <h3>16. LE PARFAIT CHOCOLAT 5€</h3>
          <p>CLÉMENTINE, CARDAMOME</p>
          <h3>17. LE SABLÉ BRETON 5 €</h3>
          <p>POIRE ET CARAMEL AU BEURRE SALÉ</p>
          <h3>18. LA PANNA COTTA EXOTIQUE 5 €</h3>
          <p>ANANAS, VERVEINE, YUZU</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>LE VELOUTÉ CAROTTE & KIRI</h3>
          <h3>LE CABILLAUD PANÉ</h3>
          <p>POMMES DE TERRE GRENAILLES, KETCHUP MAISON</p>
          <h3>LA CRÊPE CARAMEL AU BEURRE SALÉ</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>LES RILLETTES DE CANARD MAISON 6.50€ LES 200GR</h3>
          <h3>LE NOUGAT DE CHÈVRE FRAIS 6.50€ LES 180GR (2/3 PERS)</h3>
          <h3>LA COQUE DE CONFIT DE CANARD 1€ PIÈCE</h3>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Blanc, Rosé, Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>LIMOUX "DOMAINE DE L'AIGLE" / GÉRARD BERTRAND 2016 21€</h3>
          <h3>MUSCADET « PONCEAU » / DOMAINE LANDRON CHARTIER 2013 25€</h3>
          <h3>SAUMUR / DOMAINE GUIBERTEAU 2018 18€</h3><br>
          <h3>MENETOU-SALON / Isabelle & Pierre CLEMENT  2019  (Rosé)   20€</h3><br>
          <h3>CHINON « L’Arpenty » / Famille DESBOURDES  2019   14€</h3>
          <h3>CÔTE DU RHÔNE / MAISON GUIGAL 2016 20€</h3>
          <h3>VACQUEYRAS / Maison ARNOUX & FILS  2017     18€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
