<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "n1-2019.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div> -->
<!-- Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités) -->


<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

         <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">Retrouvez ici nos ventes à emporter</p><br>

 <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">CONDITIONS :</p><br>

 <p>Commandes 48h à l'avance minimum (quantités limitées). Au-delà, nous contacter par téléphone.</p>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
    RETRAIT AU RESTAURANT :<br><br>
    Vendredi 19 de 16h à 18h<br>
  Samedi 20 de 11h30 à 12h30 et de 16h à 18h<br>
  Dimanche 21 de 10h30 à 13h<br><br>
  LIVRAISON* :<br><br>
  Vendredi 19 & Samedi 20 à partir de 18H30<br>
  Dimanche 21 de 10h30 à 12h30<br><br>
  * Livraison gratuite sur Basse-Goulaine, Haute-Goulaine, Vertou,
Saint-Sébastien/Loire, Rezé,
(Pour les autres communes, nous consulter).
Minimum de commande 40€.<br><br>

COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://forms.gle/LsUUJm46TX1Bx56s5">ce formulaire</a><br><br>

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le velouté haricots blancs 5€</h3>
          <p>jambon de Vendée, épices mexicaines</p>
          <h3>le buisson de langoustines  7€</h3>
          <p>beurre d'algues, mayonnaise aneth</p>
          <h3>les asperges 9€</h3>
          <p>en fine tartelette, mozzarella fumée, canard séché, sarrasin</p>
          <h3>le saumon gravlax  12€</h3>
          <p>oeuf mimosa, brioche frottée à la truffe</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le rougail saucisse 10€</h3>
          <p>pilaf d'un rizbasmati</p>
          <h3>le filet mignon de porce 12€</h3>
          <p>en croute de thym, brocoli et pommes fondantes, crème au cidre</p>
          <h3>le filet de dorade 13€</h3>
          <p> pané à la coriandre, poêlée printanière aux zestes d'agrumes, beurre chorizo</p>
          <h3>les noix de Saint-Jacques 17€</h3>
          <p>parfum de vanille, crumble de patate douce à la citronnelle</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le bleu d'Auvergne 5€</h3>
          <p>travaillé comme un crumble, poire et cannelle</p>
          <h3>la tarte chocolat  6€</h3>
          <p>banane, arabica</p>
          <h3>la verrine Pavlova 6 €</h3>
          <p>fruits de la passion, thé vert</p>
          <h3>le chou craquelin 6 €</h3>
          <p>comme un Paris-Brest</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>les bâtonnets de carotte</h3>
          <p>chantilly Kiri</p>
          <h3>les boulettes de boeuf</h3>
          <p>sauce tomate</p>
          <h3>la salade de fruits</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le nougat de chèvre frais (180g) 6.50€</h3>
          <h3>le cromesquis de confit canard et foie gras (la pièce) 2€</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Soft, Blanc et Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Jus Alain Milliat  (33cl)  5€</h3>
          <p>Pomme Cox’s / Pamplemousse / Raisin rouge Merlot</p><br>
          <h3>Riesling (Vallet) 2018 Domaine Les Frères Couillaud 12€</h3>
          <h3>Alpilles « Iris »  2019  Domaine Vallon des Glauges 16€</h3>
          <h3>SAINT-PERAY  2017, JEAN MARC LAFONT 24€</h3><br>
          <h3>CÔTE DU RHÔNE « SAINT ESPRIT » 2018, MAISON DELAS 12€</h3>
          <h3>GRAVES « LES HAUTES GRAVIÈRES », 2017, MAISON DOURTHE 16€</h3>
          <h3>Chinon « L’Arpenty » 2019 Famille Desbourdes 14€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
