<% content_for :meta_title, "Menus - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Nos menus sont exclusivement basés sur des produits frais et harmonieusement inspirés par notre cave." %>

<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "n1-2019.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'Produits2020.jpg' %>);min-height: 720px;margin-bottom: 30px;">
    </div>
  </div> -->
<!-- Par mail sur <A HREF="mailto:contact@restaurant-du-pont.fr">contact@restaurant-du-pont.fr</A> (en indiquant: nom / tel / mode et date de retrait / choix et quantités) -->


<!--   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col col-centered">
    <div class="box-event" style="background-image: url(<%= image_path 'mother.jpg' %>);min-height: 601.31px;margin-bottom: 30px;">
      <h1>La fête des mères
</h1>
      <h4>50€<br>
</h4>
      <div class="plats" style="margin-top: 40px;" >
        <h3>Le mi-cuit de thon…</h3>
        <p>Petits pois, menthe, sésame wasabi</p>
        <h3>Le filet de rouget…</h3>
        <p>Cuisson à l’unilatéral, risotto combawa, émulsion de coquillages parfumée à la rose</p>
        <h3>La canette de Barbarie…</h3>
        <p>Marinée à l’huile de noisettes, nectarine, coriandre</p>
        <h3>Douceur violette rhubarbe</h3>
        <h3>Les fruits de la passion / thé noir…</h3>
        <p>Chibouste fruits de la passion, financier au thé noir, croquant au poivre</p>
      </div>
    </div>
  </div> -->

         <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">Retrouvez ici nos ventes à emporter</p><br>

 <p style="padding-bottom:5px;letter-spacing: 0.2em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 22px;">CONDITIONS DE COMMANDE :</p><br>

<p style="padding-bottom:5px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">
    RETRAIT AU RESTAURANT :<br><br>
    Vendredi 12 de 16h à 18h<br>
  Samedi 13 de 11h30 à 12h30 et de 16h à 18h<br>
  Dimanche 14 de 10h30 à 13h<br><br>
  LIVRAISON* :<br><br>
  Vendredi 12 & Samedi 13 à partir de 18H30<br>
  Dimanche 14 de 10h30 à 12h30<br><br>
  * Livraison gratuite sur Basse-Goulaine, Haute-Goulaine, Vertou,
Saint-Sébastien/Loire, Rezé,
(Pour les autres communes, nous consulter).
Minimum de commande 40€.<br><br>

COMMANDE : <br><br>
Par téléphone au 02.40.03.58.62<br><br>
Via <a href="https://forms.gle/LsUUJm46TX1Bx56s5">ce formulaire</a><br><br>

  <div class="menu" style="display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto;">

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES ENTRÉES*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>la crème de courgette et d'epinard 5€</h3>
          <p>parfumée à la lavande, fêta, croutons persillés</p>
          <h3>le buisson de langoustines  7€</h3>
          <p>beurre d'algues, mayonnaise aux herbes</p>
          <h3>le marbré de foie gras aux épices fumées 9€</h3>
          <p>mangue, sarrasin</p>
          <h3>la cassolette de Saint-Jacques  12€</h3>
          <p>premières asperges, crème coraillée au whisky</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style="margin-bottom: 30px; margin: 0px auto;">
  <h1>LES PLATS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le lieu noir en croute d'olives 10€</h3>
          <p>fenouil au parmesan, coulis d'ail des ours</p>
          <h3>les joues de boeuf confites 12€</h3>
          <p>carottes glacées au yuzu et romarin, sauce au vin</p>
          <h3>le burger de confit de canard 13€</h3>
          <p>chou rouge, sauce épicée au sirop d'érable, frites de patates douces</p>
          <h3>le dos de Saint-Pierre 17€</h3>
          <p>crumble de brocoli au chorizo, beurre d'agrumes</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LES DESSERTS*…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>le croustillant de chèvre 5€</h3>
          <p>piquillos, kiwi</p>
          <h3>la tarte chocolat  6€</h3>
          <p>orange, caramel</p>
          <h3>la verrine citron 6 €</h3>
          <p>sablé breton, éclats meringués</p>
          <h3>le délice passion / carrote 6 €</h3>
          <p>Arômes de violette, chantilly nougatine</p>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR LES ENFANTS* (jusqu'à 12ans) le menu 15€</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>L'œuf mimosa déguisé</h3>
          <h3>Les lasagnes à la bolognaise</h3>
          <h3>La mousse chocolat au chamallow</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>POUR L’APERITIF…</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Le nougat de chèvre frais (180g) 6.50€</h3>
          <h3>les rillettes de cabillaud, curry et aneth (180g) 6.50€</h3>
          <h6>*Pour la liste des allergènes, nous consulter.</h6>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="box-menus" style=";margin-bottom: 30px; margin: 0px auto;">
  <h1>LA CAVE… Soft, Blanc et Rouge</h1>

        <div class="plats" style="margin-top: 40px;" >
          <h3>Jus Alain Milliat  (33cl)  5€</h3>
          <p>Pomme Cox’s / Pamplemousse / Raisin rouge Merlot</p><br>
          <h3>Riesling (Vallet) 2018 Domaine Les Frères Couillaud 12€</h3>
          <h3>Alpilles « Iris »  2019  Domaine Vallon des Glauges 16€</h3>
          <h3>SAINT-PERAY  2017, JEAN MARC LAFONT 24€</h3><br>
          <h3>CÔTE DU RHÔNE « SAINT ESPRIT » 2018, MAISON DELAS 12€</h3>
          <h3>GRAVES « LES HAUTES GRAVIÈRES », 2017, MAISON DOURTHE 16€</h3>
          <h3>Chinon « L’Arpenty » 2019 Famille Desbourdes 14€</h3>
        </div>
      </div>
    </div>

  </div>





</div>
</div>
