<div class="wrapper-restaurant" style="background-image: url(<%= image_path 'restaurant.jpg' %>)">
  <div class="information_restaurant" style="padding: 20px;">
        <p>Le Restaurant Du Pont vous<br> propose de découvrir une<br> cuisine à la fois<br> traditionnelle,<br> gastronomique et florale.<br><br>
Au gré du marché et au fil<br> des saisons, la mise en<br> valeur des produits locaux<br> et des vins de notre région<br> sera notre maître mot.<br><br>
Le temps d'un repas,<br> laissez-vous séduire par<br> notre inventivité...<p>
      </div>
  <div class="icon_scroll">
    <i class="fa fa-caret-down" id="icon_scroll" aria-hidden="true"></i>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="wrapper" id="test" style="padding-top: 100vh">
    </div>
  </div>
</div>
