<div class="container">
<div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "menus.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "menus.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="information_restaurant" style="padding: 20px;">
        <p>Le Restaurant Du Pont vous<br> propose de découvrir une<br> cuisine à la fois<br> traditionnelle,<br> gastronomique et florale.<br><br>
Au gré du marché et au fil<br> des saisons, la mise en<br> valeur des produits locaux<br> et des vins de notre région<br> sera notre maître mot.<br><br>
Le temps d'un repas,<br> laissez-vous séduire par<br> notre inventivité...<p>
      </div>
