<div class="wrapper-home" style="padding-top:200px;flex-direction: column; background-image: url(<%= image_path 'contact.jpg' %>);">
   <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px; color: white;">Nous vous remercions pour votre message,
    <br>Nous vous contacterons dès que possible.<br><br>
  l'équipe du restaurant du pont</p>
</div>
