<div class="container">
  <div class="row">
  <div class="wrapper" style="padding-top: 25vh; padding-bottom: 20vh;">
    <p> Merci pour votre message. Nous allons vous contacter rapidement. </p>
    </div>
  </div>
</div>
